body {
  font-family: HK Grotesk;
  background-color: var(#fff000);
  background-color: var(#000000);
}

/* Page structure */
@@ -114,7 +114,7 @@ body {

/* Very light scaling for our illustration */
.title {
  color:(#2800f0);
  color:(#6c5ac6);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}
/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}
/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: (#009999);
  border: 1px solid (#009999);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}
/* Subheading */
h2 {
  color: #ffff00;
}
/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}
/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}
/* Links that open files in the editor */
.fileopener {
  cursor:pointer;
  font-weight:bold;
  border-bottom:3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom:3px solid var(--color-secondary);
}
